{% extends 'AppBundle::layout.html.twig' %}

{% set logo = Frame.webPathLogo %}
{% set headerBanner = Frame.webPathHeaderBanner %}
{% set tagline = Frame.tagline %}
{% set linesHeader = Frame.linesHeader %}
{% set caseAreaHeader = Frame.caseAreaHeader %}
{% set FAQHeader = Frame.FAQHeader %}
{% set contactsHeader = Frame.contactsHeader %}
{% set contactsDescription = Frame.contactsDescription %}
{% set map = Frame.map %}
{% set address = Frame.address %}
{% set phone = Frame.phone %}
{% set email = Frame.email %}
{% set vk = Frame.vk %}
{% set fb = Frame.fb %}

{% block title %} Attorney or other name {% endblock %}

{% block container %}
    <div class="container">

        <div class="tagline makepadding clearfix">
            {#<p class="lead">We are a <span>Law</span> team working together to craft awesome websites, realise brand identities, design for<br> print and capture visual imagery through quality.</p>#}
            <p class="lead">{{ Frame.hello }}</p>
        </div><!-- end tagline -->
    </div>

    {% if Lines | length > 0 %}
        <div id="Practice_Area">
            <div class="container">
                <div class="title text-center">
                    <h3 class="title-text">{{ Frame.linesHeader }}</h3>
                    <em class="lead">{{ Frame.linesDescription }}</em>
                    <hr>
                </div>

                <div class="row">
                    <div class="portfolio-items">
                        {% for item in Lines %}
                            <div class="item-blog col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <ul>
                                    <li class="img_item">
                                        <div class="caption8 ctn_white">
                                            <h3>{{ item.title }}</h3>
                                            <p>{{ item.preview }}</p>
                                            <a href="line/{{ item.id }}" class="pf_button silver">Подробнее</a>
                                        </div>
                                        <img class="img-responsive"  src="{{ item.getWebPath() }}" alt="{{ item.title }}" />
                                    </li>
                                </ul>
                            </div>
                        {% endfor %}
                    </div><!-- End of .portfolio-items -->
                </div><!-- end row -->
            </div><!-- end portfolio_wrapper -->
        </div>

        <br>
    {% endif %}


    {% if CaseAreas | length > 0 %}
        <div id="Case_Area">
            <div class="wow animated fadeInLeft">
                <div class="title text-center ">
                    <h3 class="title-text">{{ Frame.caseAreaHeader }}</h3>
                    <hr>
                    <em class="lead" >{{ Frame.caseAreaDescription }}</em>
                </div><br>
            </div>
            <div class="container pm-containerPadding-top-80 pm-containerPadding-bottom-40">
                <div class="row">
                    {% for item in CaseAreas %}
                        <div class="col-lg-4 col-md-4 col-sm-12 wow fadeInUp animated" data-wow-delay="0.3s" data-wow-offset="50" data-wow-duration="1s">
                            <div class="block-one block">
                                <img src="{{ item.getWebPath() }}" width="200" class="img-responsive pm-inline" alt="icon" />

                                <h6 class="pm-column-title">{{ item.title }}</h6>
                                <div class="caret-down"><i class="fa fa-caret-down"></i></div>
                                <p>{{ item.preview }}</p>
                                <div class="btn-blk"><a href="case-area/{{ item.id }}" class="pm-rounded-btn">{{ item.buttonTitle }}</a></div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <br><br><br>
    {% endif %}

    <!-- FAQ -->
    {% if FAQCategories | length > 0 %}
        <div id="faq">
            <div class="container">
                <div class="title text-center">
                    <h3 class="title-text faq-text">{{ Frame.FAQHeader }}</h3>
                    <hr>
                    <em class="lead" >{{ Frame.FAQDescription }}</em>
                </div>


                {% for item in FAQCategories %}
                    <div class="col-md-6 col-sm-12 col-xs-12 wow animated zoomIn">
                        <h3 class="title-panel text-center">{{ item.name }}</h3><hr>
                        {% for subitem in item.FAQ %}
                            <div class="panel panel-default">
                                <div class="panel-heading clickable">
                                    <h3 class="panel-title">
                                        {{ subitem.question }}
                                    </h3>
                                    <span class="pull-right "><i class="glyphicon glyphicon-chevron-up"></i></span>
                                </div>
                                <div class="panel-body">
                                    <p>{{ subitem.answer }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    <!--End Faq -->
{% endblock %}
